.main-view {
}

.main-view-header {
  height: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 38px 12px;
  h2 {
    margin: 0 0 12px;
  }
  .job-location {
    i {
      font-size: 1.25em;
      margin-right: 6px;
      align-self: center;
    }
    span {
      margin-right: 6px;
    }
    a {
      margin-left: 6px;
    }
    display: flex;
    align-items: baseline;
  }
  .job-post-actions {
    display: flex;
    .action-button {
      margin: 0 8px;
    }
  }
}

.main-view-tabs {
  width: 100%;
  padding: 0 38px;
  border-bottom: $border;
  ul {
    a {
      line-height: initial;
    }
    li {
      padding: 0 0 18px;
      color: $blackNormal;
      margin-right: 24px;
      text-transform: uppercase;
      font-size: 0.75em;
      font-weight: bold;
      &.active {
        border-bottom: 3px solid $lightBlue;
        color: $blackBold;
      }
    }
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
}
