// base colors
$white: #fff;
$blackBold: #555;
$blackNormal: #777;
$lightGray: #e5e7ea;

// button colors
$red: #ff5d6e;
$green: #2eb872;

// color palette
$brown: #a97465;
$lightBlue: #33a3cd;
$grayBlue: #607a99;
$darkGray: #343c48;
$slate: #ebf2f6;
$turquoiseGray: #516d76;
$darkBlue: #31475a;
