// base colors
$white: #fff;
$blackBold: #333;
$blackNormal: #444;

// color palette
$brown: #A97465;
$lightBlue: #33A3CD;
$grayBlue: #607A99;
$darkGray: #343C48;
$slate: #A5B6C3;
$turquoise: #516D76;
$darkBlue: #31475A;
