@import "../styles/variables/colors";
@import "Sidenav/sidenav";
@import "Header/header";

%displayCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
}
