@import "../styles/variables/colors";
@import "Sidenav/sidenav";
@import "Header/header";
@import "MainView/mainview";

%displayCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  > section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
  }
}
